body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.groceryContainer {
  width: 100%;
  height: auto;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding: 1.5rem;
  background-color: whitesmoke;
  box-shadow: 5px 5px 4px 2px rgba(0, 0, 0, 0.4);
}

.title {
  margin-top: 0px;
  font-size: 24px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.listHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clearBtn {
  width: 100%;
}

.listContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.alert {
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  padding: 12px;
  margin-top: 0px;
  border-radius: 8px;
  font-size: 18px;
}

.alert-success {
  background-color: green;
}

.alert-danger {
  background-color: red;
}

.input {
  padding: 5px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
  border: 0.2px solid black;
}

.header {
  display: flex;
  flex-direction: cloumn;
  justify-content: space-between;
  align-items: center;
}

.btn {
  margin: 0px 10px;
  padding: 5px;
  background-color: rgb(40, 153, 228);
  border: 0.2px solid black;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.edit {
  background-color: green;
}

.delete {
  background-color: red;
}

.clearBtn {
  background: none;
  border: none;
  color: red;
  margin-top: 30px;
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.listTitle {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
}

.singleList {
  margin-top: 20px;
  /* padding: 0px 10px; */
}